* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

header {
    background: #1e0e62;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    margin: 10px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.events {
    font-weight: 900;
    font-family: sans-serif;
    font-style: italic;
}

h2 {
    color: #1e0e62;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #1e0e62;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #3c2fa5;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e0e62;
    color: white;
}

.events {
    font: 600;
}


.section-home {
    background: url('images/home.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-about {
    background: url('images/about.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-vision {
    background: url('images/vision.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-leadership {
    background: url('images/leadership.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-ministries {
    background: url('images/ministries.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-events {
    background: url('images/events1.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-creative {
    background: url('images/events2.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-camp {
    background: url('images/camp.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-love {
    background: url('images/love.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-raised {
    background: url('images/raised.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-gallery {
    background: url('images/gallery.jpg') center/cover no-repeat;
    padding: 60px 20px;
}

.section-donation {
    background: url('images/donation.jpg') center/cover no-repeat;
    padding: 60px 20px;
}
